PlotBotMesh_Firmware_V0.2.0/PlotBotMesh/.vscode/ipch/2264dc46cc7bba5a/SERIAL.ipch
PlotBotMesh_Firmware_V0.2.0/PlotBotMesh/.vscode/ipch/2264dc46cc7bba5a/mmap_address.bin
PlotBotMesh_Firmware_V0.2.0/PlotBotMesh/.vscode/ipch/5aa4349b0418acc8/mmap_address.bin
PlotBotMesh_Firmware_V0.2.0/PlotBotMesh/.vscode/ipch/5aa4349b0418acc8/PLOTBOTMESH.ipch
